.main {
  height:100%;
  width:100%;
  position: absolute;
  background-color:black;
}
.div {
  background-color: aqua;
  height:100%;
  width: 100%;
}
.form{
  display:grid;
  background-color:blueviolet;
  width: 100%; 
}

.header {
  color: black;
  font-size: xx-large;
}
.button { 
  height:100px;
  width: 500px;
}